@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-background: theme(colors.white);
  --color-on-background: theme(colors.black);
  --color-on-background-low: theme(colors.gray.300);

  --color-opening: #f9f9f9; /* input field background */

  --color-primary: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: theme(colors.black);
    --color-on-background: theme(colors.white);
  }
}
