@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: theme(colors.white);
	--color-on-background: theme(colors.black);
	--color-on-background-low: theme(colors.gray.300);

	--color-opening: #f9f9f9; /* input field background */

	--color-primary: blue;

	--color-border: theme(colors.zinc.600);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: theme(colors.zinc.900);
		--color-on-background: theme(colors.white);

		--color-border: theme(colors.zinc.400);
	}
}
